/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */
/* Mockingbird Theme by Nevan Scott nevanscott.com */
/* Modified by Jody Frankowski */
/* Modified by ix5 */
/* Modified by Tyler Carr */

:root {
    --main-bg-color: #1c2833;
    --code-bg-color: #17202a;
    --accent-color: #C7254E;
    --tab-bg-hover: var(--code-bg-color);
    --info-bg-color: var(--code-gb-color);
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: #BBB;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: var(--main-bg-color);
    background: url("/img/flower.png");
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.5em;
}

header, #wrapper {
    padding: 0 10px;
    max-width: 910px;
    margin: auto;
    clear:both;
}

a {
    text-decoration: none;
    color: #15A9DB;
}

ul {
    list-style: outside disc;
}

ol {
    list-style: outside decimal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
}
h1, h2, h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}
.post {
  text-indent: 0.5rem;
}

img, p, .post > .highlight, .highlighttable, h4, h5, h6 {
    margin-top: 0.6rem;
}
img + em {
    font-size: .8em;
}

blockquote {
    margin: 1.5em 1.5em 1.5em .75em;
    padding-left: .75em;
    border-left: 1px solid #EEE;
}

table {
    width: 100%;
    margin: 1em 0;
}
thead {
    border-bottom: 1px solid black;
}

.avatar {
    border-radius: 50%;
    -mox-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    bottom: 0;
    top: 0;
    margin: auto;
    display: inline;
    padding-right: 5px;
}

.date {
    color: #CCC;
    float: left;
    clear: both;
    width: 130px;
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 20px 1em 0;
}

.info {
    margin-top: 1.3em;
    font-family: sans-serif;
    text-align: right;
    color: #BBB;
}
.info a {
    color: inherit;
}
.info a.tags {
    background: var(--info-bg-color);
    color: #FFF;
    display: inline-block;
    padding: 0 .3em;
    border: 1px transparent solid;
    border-radius: 5px;
    margin: 0 0 0.3em 0;
}
.info a.tags:hover {
    background: inherit;
    color: inherit;
}
.info a.tags.selected {
    border: 1px #999 solid;
}

.post {
    box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 2px solid rgb(255 190 0 / 10%);
    margin: 0 0 4.5em 150px;
    backdrop-filter: blur(5px);
    padding: 0 1.5em;
}
.post.archives {
    margin-bottom: 1.5em;
    margin-left: 160px;
}
.post p {
    text-align: justify;
}

.page {
    margin: 0 90px;
}

.highlight {
    border-radius: 3px;
}
.code > .highlight {
    border-radius: 0px 3px 3px 0px;
    background-color: var(--code-bg-color);
}
.linenos {
    border-radius: 3px 0px 0px 3px;
    background-color: var(--code-bg-color);
    border-right: 1px solid #00232C;
    color: #586E75;
    text-shadow: 0px -1px #021014;
    font-size: 12.6px;
}
td.code {
    width: 100%;
    max-width: 100px;
}
.linenos a {
    color: #586E75;
}

img {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.3em;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*sub and sup stolen from Twitter bootstrap.*/
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.post pre, .page pre{
    padding: .8em;
    font-size: 12.6px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    line-height: 18px;
    overflow: auto;
    background-color: var(--code-bg-color);
}

.literal {
    padding: .5em;
    overflow: pre-line;
    font-size: 12.6px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    background-color: var(--code-bg-color);
}

form.inline_edit {
    clear: both;
    margin: 4.5em 0;
    background-color: #DDD;
    color: #000;
    padding: 20px;
    border-radius: 5px;
}
.inline_edit .sub {
    color: #888;
    white-space: nowrap;
}
.inline_edit label {
    float: left;
    clear: both;
    width: 140px;
    margin-right: 20px;
}
.inline_edit .buttons {
    display: block;
    text-align: right;
}

nav ul {
    float: right;
    list-style: none;
    margin: 0 0 0 3em;
    padding: 0;
}
nav li {
    float: left;
}
nav a {
    display: block;
    padding: 1.5em 10px 10px 10px;
}
nav a:hover {
    background-color: var(--tab-bg-hover);
    color: var(--accent-color);
}
nav li.selected a {
    background-color: #15A9DB;
    color: #FFF;
}

nav li.ephemeral a {
    background-color: #15A9DB;
    color: #FFF;
    filter: brightness(0.75);
}


header .header_box {
    padding-top: 1.5em; 
    text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
    
}
.site_title {
    color: #15A9DB;
    display: inline-block;
    margin:0;
}
.site_subtitle {
    display: inline-block;
    margin: 0;

}
header h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
}
header h2 {
    font-size: 1em;
    margin: .3em 0;
    color: #DDD;
}

#content {
    margin-top: 3em;
}

.pages {
    font-family: sans-serif;
    line-height: 2.5em;
    margin: 4.5em 0 3em;
    background-color:  #2e4053;
    border-radius: 5px;
}
.pages a.next_page {
    float: right;
    width: 140px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #EEE;
}
.pages a.prev_page {
    float: left;
    width: 140px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #EEE;
}
.pages a {
    color: inherit;
    border: none;
}
.pages a:hover {
    background-color: #DDD;
}
.pages span {
    display: block;
    margin: 0 160px;
    text-align: center;
}

code {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    background-color: #17202a;
    color: #C7254E;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12.6px;
    line-height: 18px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 4px;
    padding-top: 2px;
}

footer {
    font-family: sans-serif;
    line-height: 2.5em;
    text-align: center;
    color: #BBB;
    margin: 3em 0;
    border: 1px solid #EEE;
    border-radius: 5px;
}
footer p { margin: 0; }

.right { float: right; }

.clear { clear: both; }

@media screen and (max-width: 1024px) {
    #wrapper {
        margin-left: 2.6em;
        padding:1em;
    }
}

@media screen and (max-width: 800px), print {
    #wrapper {
        margin: 0;
        padding: 1em;
    }
    .date {
        width: 100%;
        margin: 0 0 .5em 0;
    }
    .post {
        margin: 0 0 4.5em 0;
    }
    .post pre,
    .post code {
        white-space: pre-wrap;
    }
    .archives {
        margin: 0 0 1.5em 0 !important;
    }
    nav ul {
        margin: 0 0 1em 0;
    }
}
@media print {
    * {
        background: #fff;
    }
    #wrapper, #content {
        margin: 0;
        padding: 0;
    }
    header, footer, nav {
        display: none;
    }
    img {
        break-inside: avoid;
    }
    p, table, pre {
        widows: 3;
        orphans: 3;
    }
    h1, h2, h3, h4, h5, h6 {
        break-after: avoid;
    }
    h1, h2 {
        font-size: 14pt;
    }
    h3, h4, h4.date {
        font-size: 12pt;
    }
    .post p, .post ul li, .post ol li, .post table {
        font-size: 11pt;
    }
}
@page {
    margin: 1.5cm;
}
