.wordcloud {
      padding: 0.1rem;
      text-align:center;
      margin:auto;
}
@media screen and (min-width: 700px) {
    .wordcloud {
      width: 400px;
    }
}

.size-1  { font-size:1.0rem; }
.size-2  { font-size:1.1rem; }
.size-3  { font-size:1.2rem; }
.size-4  { font-size:1.3rem; }
.size-5  { font-size:1.4rem; }
.size-6  { font-size:1.5rem; }
.size-7  { font-size:1.6rem; }
.size-8  { font-size:1.7rem; }
.size-9  { font-size:1.8rem; }
.size-10 { font-size:1.9rem; }


.size-11 { font-size:2.0rem; }
.size-12 { font-size:2.1rem; }
.size-13 { font-size:2.2rem; }
.size-14 { font-size:2.3rem; }
.size-15 { font-size:2.4rem; }
.size-16 { font-size:2.5rem; }
.size-17 { font-size:2.6rem; }
.size-18 { font-size:2.7rem; }
.size-19 { font-size:2.8rem; }
.size-20 { font-size:2.9rem; }

.size-21 { font-size:3.0rem; }
.size-22 { font-size:3.1rem; }
.size-23 { font-size:3.2rem; }
.size-24 { font-size:3.3rem; }
.size-25 { font-size:3.4rem; }
.size-26 { font-size:3.5rem; }
.size-27 { font-size:3.6rem; }
.size-28 { font-size:3.7rem; }
.size-29 { font-size:3.8rem; }
.size-30 { font-size:3.9rem; }

.size-31 { font-size:4.0rem; }
.size-32 { font-size:4.1rem; }
.size-33 { font-size:4.2rem; }
.size-34 { font-size:4.3rem; }
.size-35 { font-size:4.4rem; }
.size-36 { font-size:4.5rem; }
.size-37 { font-size:4.6rem; }
.size-38 { font-size:4.7rem; }
.size-39 { font-size:4.8rem; }
.size-40 { font-size:4.9rem; }
