{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <header>
    <h1 class="entry-title">
        {{ article.title }}
    </h1>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
    <hr class="article-split">
  </header>

  <footer class="post-info">
    <a class="permalink" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"> 🔗 </a> 
    <time class="published" datetime="{{ article.date.isoformat() }}">
      <h3>{{ article.locale_date }}</h3>
    </time>
    {% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      <h3>{{ article.locale_modified }}</h3>
    </time>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
        Tags:
        {% for tag in article.tags %}
            <a class="pill-link" href="{{ SITEURL }}/{{ tag.url }}">
              <span class="tag-pill">{{ tag }}</span>
            </a>
        {% endfor %}
    </div>
    {% endif %}
    {% if article.category %}
    <div class="category">
      Category: <a class="pill-link" href="{{ SITEURL }}/{{ article.category.url }}"> <span class="category category-pill">{{ article.category }}</span> </a>
    </div>
    {% endif %}
  </footer><!-- /.post-info -->
  <hr class="article-split">
  <article>
    {{ article.content }}
  </article>
{% endblock %}
