<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="generator" content="Pelican" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tyrel Souza's Blog about Tech, Programming, Automation, and Personal Things" />

        {% if FEED_ALL_ATOM %} <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" /> {% endif %}
        {% if FEED_ALL_RSS %} <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" /> {% endif %}
        {% if FEED_ATOM %} <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" /> {% endif %}
        {% if FEED_RSS %} <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %} <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" /> {% endif %}
        {% if CATEGORY_FEED_RSS and category %} <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" /> {% endif %}
        {% if TAG_FEED_ATOM and tag %} <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" /> {% endif %}
        {% if TAG_FEED_RSS and tag %} <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" /> {% endif %}

        {% assets filters="cssmin", output="css/main.min.css", "css/main.css" %}
          <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        {% endblock head %}

        {% block extrahead %}
        {% endblock extrahead %}
</head>

<body>
<div class="parent-panel">
  <div class="right-panel">
    <div class="right-panel-content">
    <main>
      {% block content %}
      {% endblock %}
    </main>
    </div>
  </div>
  <div class="left-panel">
    <header>
      <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
      {% if SITESUBTITLE %}<h2> <strong>{{ SITESUBTITLE }}</strong></h2>{% endif %}
    </header>
    <nav><ul>
    {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
    {% if DISPLAY_PAGES_ON_MENU %}
      {% for p in pages %}
        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    {% endif %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
    </ul></nav>
    {% if LINKS %}
      <div class="blogroll">
        <h2>{{ LINKS_WIDGET_NAME | default('EXTERNAL LINKS') }}</h2>
        <ul>
          {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- /.blogroll -->
    {% endif %}
    {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
    <div class="social">
      <h2>Syndication</h2>
      <ul>
        {% for name, link in SOCIAL %}
          <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}

        {% if FEED_ALL_ATOM %}
          <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">Atom Feed</a></li>
        {% endif %}
        {% if FEED_ALL_RSS %}
          <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate">RSS Feed</a></li>
        {% endif %}

      </ul>
    </div><!-- /.social -->
    {% endif %}
  </div>
</div>
  <hr class="article-split end">
</body>
</html>
