{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h1>Latest From Tyrel</h1>
    <hr class="article-split">
{% endblock %}
{% for article in articles_page.object_list[:1] %}
  <article class="post-overview">
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
    <h3><time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</time></h3>
    <div class="excerpt">{{ article.summary }} <a href="{{ SITEURL }}/{{ article.url }}">[read post]</a></div>
  </article>
{% endfor %}

<br />
<br />
<br />

    <hr class="article-split">
<h2>Older Blog Posts</h2>
    <hr class="article-split">
<ul id="post-list">
{% for article in articles_page.object_list[1:] %}
  <li>
    <article class="hentry">
      <header class="entry-title">
        <div class="entry-list-flex-container">

          <div class="entry-list-flex-child date">
            <span class="small">
              <time class="published" datetime="{{ article.date.isoformat() }}">
                {{ article.date.isoformat().split("T")[0] }}
              </time>
            </span>
          </div>
          <div class="entry-list-flex-child category">
            <span class="category category-pill">{{ article.category }}</span>
          </div>

          <div class="entry-list-flex-child entry">
            <h2>
              <div>
                <span
                  class="article-list-title{% if article.date.year == article.date.now().year and article.date.month == article.date.now().month %} new{% endif %}"
                  ><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></span>
              </div>
            </h2>
            {# <span class="small"> #}
            {#   <span class="category category-pill">{{ article.category }}</span> #}
            {#   <span class=""> #}
            {#     {% for tag in article.tags|sort %} #}
            {#       <span class="tag-pill">{{ tag }}</span> #}
            {#     {% endfor %}</span> #}
            {# </span> #}
          </div>

        </div>
      </header>
    </article>
  </li>
{% endfor %}
</ul><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
