{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block extrahead %}
        {% assets filters="cssmin", output="css/wordcloud.min.css", "css/wordcloud.css" %}
          <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
{% endblock %}

{% block content %}
    <h1>Tags for {{ SITENAME }}</h1>
    <hr class="article-split">
    <div class="wordcloud">
      {% for tag, articles in tags|sort %}
        <a href="{{ SITEURL }}/{{ tag.url }}" class="wordcloud size-{{articles|count}}">{{ tag }}</a>
      {% endfor %}
    </div>
{% endblock %}
