            {% if not articles_page or first_article_of_day %}
            <h4 class="date">{{ article.date.strftime("%b %d, %Y") }}</h4>
            {% endif %}

            <article class="post">
                {% if article.title %}
                <h2 class="title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title|striptags }}&quot;">{{ article.title }}</a>
                </h2>
                {% endif %}

		{% if not articles_page %}
		{% include "translations.html" %}
		{% endif %}                
                

                {{ article.content }}
                <div class="clear"></div>

                <div class="info">
                    {% if article.category.name != "misc" %}
                    <a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}</a>
                    {% endif %}
                    {% if article.tags %}
                    &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
                    {% for t in article.tags %}
                    &nbsp;<a href="{{ SITEURL }}/{{ t.url }}" class="tags{% if tag and tag.name == t.name %} selected{% endif %}">{{ t }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
		{% if articles_page and DISQUS_SITENAME %}
		<a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Click to read and post comments</a>
		{% else %}
		{% include "disqus.html" %}
		{% endif %}
            </article>
