{% macro ephemeral_nav_link(what, where, selected=False) -%}
<li class="ephemeral{% if selected %} selected{% endif %}"><a href="{{ SITEURL }}/{{ where }}">{{what}}</a></li>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="fediverse:creator" content="@tyrel@mastodon.social" />
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link href="https://mastodon.social/@tyrel" rel="me">
    {# favicon #}
    <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% assets filters="cssmin", output="css/main.min.css", "css/main.css" %}
          <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets%}
    {% assets filters="cssmin", output="css/pygments.min.css", "css/pygments.css" %}
          <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets%}
    {% if DARK_LIGHT_SWITCHING_OFF == False %}
    <style> 
    @media (prefers-color-scheme: light) {
        :root {
            --main-bg-color: #FFFFFF;
            --accent-color: #FFFFFF;
            --tab-bg-hover: #d3d3d3;
            --info-bg-color: #CCC;
        }
    }
    </style>
    {% endif %}
    <meta name="generator" content="Pelican" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    <meta name="author" content="{{ AUTHOR }}" />
    {% include 'analytics.html' %}
    {% endblock head %}
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
    {% if DISPLAY_HEADER or DISPLAY_HEADER is not defined %}
    <header>
        <div class="header_box" style="height: 50px">
           <h1 class="site_title">
             <a href="{{ SITEURL }}/">
              <span>{{ SITENAME }}</span>
            </a>
           </h1>
            {% if SITESUBTITLE %}
            <h2 class="site_subtitle">{{ SITESUBTITLE }}</h2>
            {% endif %}
        </div>
        {% if DISPLAY_MENU or DISPLAY_MENU is not defined %}
        <nav style="overflow: hidden;">
            <ul>
                {% block ephemeral_nav %}{% endblock %}
                
                {% if DISPLAY_HOME or DISPLAY_HOME is not defined %}
                <li{% if output_file == "index.html" %} class="selected"{% endif %}><a href="{{ SITEURL }}/">Home</a></li>
                {% endif %}
                {% for name, link, file in MENU_INTERNAL_PAGES %}
                <li {% if output_file == file %} class="selected"{% endif %}><a href="{{ SITEURL }}/{{ link }}">{{ name }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                <li{% if p == page %} class="selected"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
                {% endif %}
                
            </ul>
            <ul>


                {% for title, link in MENUITEMS %}
                <li {% if output_file == file %} class="selected"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </header>
    {% endif %}
    <div id="wrapper">
        <div id="content">
            {%- block content -%}{%- endblock %}

            {% if DISPLAY_FOOTER or DISPLAY_FOOTER is not defined %}
            <div class="clear"></div>
            <footer>
                <p>
                 {% if FEED_ALL_ATOM %}
                <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate">Atom Feed</a>
                 {% endif %}
                 {% if FEED_ALL_RSS %}
                &middot;
                <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" rel="alternate">Rss Feed</a>
                 {% endif %}
            </footer>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>
