<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
<link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
  
  <!--[if IE]>
  <style type="text/css"> 
  .twoColFixRtHdr #mainContent { zoom: 1; }
  </style>
  <![endif]-->

</head>

<body>

<div id="container">

  <div id="header">
    <a href="{{ SITEURL }}/index.html">
      <h1>{{ SITENAME }}</h1>
      {% if SITESUBTITLE %}<h2>{{ SITESUBTITLE }}</h2>{% endif %}
    </a>
  </div><!-- end #header -->
  
  <div id="topMenu">
    <ul>
        {% for item in BEFORE_MENU %}
          <li><a href="{{ item.url }}">{{ item.name }}</li>
        {% endfor %}
    	  <li><a href="{{ SITEURL }}/index.html">Home</a></li>
        <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
        {% for item in AFTER_MENU %}
          <li><a href="{{ item.url }}">{{ item.name }}</li>
        {% endfor %}
        <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate"><img src="/blog/theme/images/feed-icon-28x28.png" /></a></li>
    </ul>
  
  </div><!-- end #topMenu -->

  <div id="sidebar">
    <ul>
  	{% if DISPLAY_PAGES_ON_MENU %}
	<li>
	    <h3>Pages</h3>
	    <ul>
            {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
	    </ul>
	</li>
        {% endif %}
        {% if LINKS %}
	<li>
		<h3>External Links</h3>
		<ul>
		{% for name, link in LINKS %}
      <li><a href="{{ link }}">{{ name }}</a></li>
    {% endfor %}
		</ul>
	</li>
	{% endif %}
  	{% if not SUPPRESS_CATEGORIES_ON_MENU %}
	<li>
            <h3>Categories</h3>
            <ul>
	        {% for cat, null in categories %}
		     <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	        {% endfor %}
	    </ul>
	</li>
        {% endif %}
	{% if SOCIAL %}
        <li>
                <h3>Social</h3>
                <ul>
                    {% if FEED_ATOM %}
                    <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
                    {% endif %}
                    {% if FEED_RSS %}
                    <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">Flux Rss</a></li>
                    {% endif %}
                {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
        </li><!-- /.social -->
        {% endif %}
  	{% if tags %}
        <li>
            <h3>Tags</h3>
            <ul>
            {% for tag, articles in tags %}
                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
  </div><!-- end #sidebar -->

  <div id="mainContent">
  	
    {% block content %}
    {% endblock %}
    {% block archives %}
    <div class="archives">
      <h2>Archives of {{ SITENAME }}</h2>
      {% for article in dates %}
        <dt>{{ article.locale_date }}</dt>
          <dd><a href='{{ article.url }}'>{{ article.title }}</a></dd>
      {% endfor %}
    </div>
    {% endblock %}
  
  </div><!-- end #mainContent -->

<div class="clearfloat"></div>


 <div id="sidebar-mobile">
    <ul>
  	{% if DISPLAY_PAGES_ON_MENU %}
	<li>
	    <h3>Pages</h3>
	    <ul>
            {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
	    </ul>
	</li>
        {% endif %}
        {% if LINKS %}
	<li>
		<h3>External Links</h3>
		<ul>
		{% for name, link in LINKS %}
      <li><a href="{{ link }}">{{ name }}</a></li>
    {% endfor %}
		</ul>
	</li>
	{% endif %}
  	{% if not SUPPRESS_CATEGORIES_ON_MENU %}
	<li>
            <h3>Categories</h3>
            <ul>
	        {% for cat, null in categories %}
		     <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	        {% endfor %}
	    </ul>
	</li>
        {% endif %}
	{% if SOCIAL %}
        <li>
                <h3>Social</h3>
                <ul>
                    {% if FEED_ATOM %}
                    <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
                    {% endif %}
                    {% if FEED_RSS %}
                    <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">Flux Rss</a></li>
                    {% endif %}
                {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
        </li><!-- /.social -->
        {% endif %}
  	{% if tags %}
        <li>
            <h3>Tags</h3>
            <ul>
            {% for tag, articles in tags %}
                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
  </div><!-- end #sidebar -->
  

</div><!-- end #container -->
{% include 'analytics.html' %}
</body>
</html>
