{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
  {% if articles %}
    {% for article in articles %}        
      {% if loop.index <= 3 %}
        <div class="blogItem">
        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        <h3>{{ article.locale_date }}</h3>
        {{ article.content }}	
        <h3 class="blogMeta">{% if not SUPPRESS_ITEM_CATEGORIES %}Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>{% endif %} | {% if article.tags %} Tags: {% for tag in article.tags %} <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% if not loop.last %} / {% endif %} </span> {% endfor %}</h3>{% endif %}</div>
      {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}

