@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");
body {
	background: url("https://tyrel.dev/img/flower.png");
}
img.rounded-circle{
	border: 3px solid #15A9DB;
}

.card {
    margin: auto;
	background-color: #1a1c23;
    max-width: 700px;
}
h1.title {
	font-size: 32px;
	font-family:  monospace;
	color: #fff;
}
p.title2 {
	font-size: 16px;
	font-family:  monospace;
	color: #fff;
}
.footer {
  flex-shrink: 0;
}
.card-bio {
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;

}
p.bio-body {
	color: #fff;
	font-family: monospace;
	font-size: 14px;
}
.text-center.icon {
	color: #fff;
	font-size: 22px;
}

span.myBadge{
	color: #15A9DB;
}
h1.header {
	font-size: 18px;
	color: #fff;
	font-family: monospace;
}
.progress-bar {
	background-color: #15A9DB;
}
h2.title {
  background: #15A9DB;
  color: #ffffff;
  display: inline-block;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0 0 1rem;
  padding: 10px 15px 8px;
  text-transform: uppercase;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
	height: 24px;
	background-color: #15A9DB;

}
p.footer-title {
	font-size: 13px;
	position: relative;
	color: #fff;
	font-family: monospace;

}

a {
  color: white;
}

a.btn {
  background: #ff7e00;
  color: #ffffff;
  display: inline-block;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 10px 15px 8px;
  text-transform: uppercase;
}

.lang-icon-large {
  font-size: 40pt;
  color: #fff;
}
